/* Caixa do Modal */
.volume-slider {
  -webkit-appearance: none;
  /* Remove estilo padrão no Chrome/Safari */
  appearance: none;
  width: 200px;
  height: 6px;
  /* Altura da pista */
  background: linear-gradient(to right, #b48b11, #f9df7b, #b48b11);
  /* Cor da pista cinza (fundo) */
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  position: relative;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #aa8c32;
    /* Verde estilo Spotify */
    box-shadow: 0 0 0 0px rgba(29, 185, 84, 0.3);
    /* Efeito de foco apagado */
    transition: transform 0.1s ease, box-shadow 0.2s ease;

    &:hover {
      transform: scale(1.2);
    }
  }

  &::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border: none;
    border-radius: 50%;
    background: #aa8c32;
    box-shadow: 0 0 0 0px rgba(29, 185, 84, 0.3);
    transition: transform 0.1s ease, box-shadow 0.2s ease;

    &:hover {
      transform: scale(1.2);
    }
  }
}